@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base; 
@tailwind components; 
@tailwind utilities;

body{
    background-color: aliceblue;
    font-family: "Poppins", sans-serif;
    color: black;
}

 /* #152259  dark blue */
 /* #269CFF active link */
 /* #D7EAFF bg thin light blue */

.active{
color: #269CFF;
border-bottom:2px solid #269CFF;
transition-duration: 1s;
transition: all;
transition-timing-function: ease-in;
}

.active2{
    background-color: #269CFF;
    transition-duration: 1s;
    transition: all;
    transition-timing-function: ease-in;
    }

.active3{
        color: aliceblue;
        background-color: #269CFF;
        transition-duration: 1s;
        transition: all;
        transition-timing-function: ease-in;
}