@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
@tailwind base; 
@tailwind components; 
@tailwind utilities;

body{
    background-color: aliceblue;
    font-family: "Poppins", sans-serif;
    color: black;
}

 /* #152259  dark blue */
 /* #ff872b active link */
 /* #D7EAFF bg thin light blue */


 

 /* Primary Color - #000a8d
Secondary Color - #fd2824 */

.text-color-blue{
    color:  #01a2f9;
}

.bg-color-blue{
    background-color: #01a2f9;
}
.bg-color-blue-dark{
    background-color: #152259;
}

.text-color-orange{
    color:  #ff872b;
}

.bg-faint-orange{
    background-color: #ffead8;
}


.active{
color: #01a2f9;
border-bottom:2px solid #01a2f9;
transition-duration: 1s;
transition: all;
transition-timing-function: ease-in;
}



.active2{
    color: white;
    background-color: #ff872b;
    transition-duration: 1s;
    transition: all;
    transition-timing-function: ease-in;
    }

.btn{
        color: aliceblue ;
        background-color: #01a2f9;
        transition-duration: 1s;
        transition: all;
        transition-timing-function: ease-in;
}

.modalcss{
    color: black;
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    border-radius: 2px;
    box-shadow: 4px 4px 10px rgb(132, 132, 132);
}

*::-webkit-scrollbar {
    display: none;
  }